*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}
.container{
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
  min-height: 100vh;
}
.main-content{
  background-color: #e2e8f0;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 48;
  color: white;
}
/* sidebar */
.side-bar{
  background-color: rgb(66, 176, 244);
  grid-row: 1 / 3;
  padding: 2vh 1vw;
}
.top-icons, .middle-icons, .bottom-icons{
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: 1vw;
  color: white;
  row-gap: 2vh;
  align-items: center;
  font-weight: 600;
}
.middle-icons{
  margin: 6vh 0;
}
.top-icons{
  font-size: 1.2rem;
}
/* heading */
.heading{
  background-color: white;
  font-weight: 700;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 1vh 2vw;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.search-container{
  display: flex;
  align-items: center;
}
.search-container button{
  background-color: white;
  margin-right: 2vw;
  border: none;
}
.search-container button span{
  color: black;
}
.search-container input{
  background-color: #e2e8f0;
  width: 40vw;
  height: 3vh;
  border-radius: 2vh;
  border: none;
}
.notification-icon{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 4vw;
}
.notification-icon button{
  border: none;
}
.notification-icon button span{
  color: black;
  background-color: white;
}
.profile-image{
  background-color: #fbbf24;
}
.notification-icon .profile-image{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
.username-image{
  display: flex;
  align-items: center;
}
.username-image .profile-image{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}
.username-container{
  margin-left: 2vw;
}
.greeting{
  font-size: .7rem;
  margin-bottom: 1vh;
}
.username{
  font-size: 1.2rem;
  margin-top: 1vh;
}
.button-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.button-container button{
  padding: 1vh 2vw;
  background-color: rgb(66, 176, 244);
  color: white;
  font-weight: 700;
  border-radius: 2vh;
  border: none;
}
/* main content */
.project-table, .announcement-table, .trending-table{
  background-color: white;
  padding: 4vh 2vw;
  border-radius: 1vh;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.main-content{
  display: grid;
  grid-template-columns: 3fr 1fr;
  row-gap: 2vh;
  column-gap: 2vw;
  padding: 2vh 2vw;
}
.left-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 2vh;
  column-gap: 2vw;
}
.right-container{
  display: grid;
  grid-template-rows: 2 1fr;
  row-gap: 3vh;
}
.title{
  font-weight: 700;
  padding-bottom: 1vh;
}
.user-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background-color: #2dd4bf;
  color: #831843;
}
.username{
  font-size: .8rem;
}
.org{
  font-size: .8rem;
  color: gray;
}
.trending-table{
  display: grid;
  grid-template-columns: 1fr 4fr;
  row-gap: 2vh;
  align-items: center;
}
.trending-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.project-table{
  border-left: .5vw #fbbf24 solid;
  flex: 1;
  position: relative;
}
.project{
  display: flex;
  flex-direction: column;
}
.icons{
  position: absolute;
  bottom: 1vh;
  right: 1vw;
}
.icons span{
  color: black;
  margin-left: 1vw;
}
.project-table .header{
  font-weight: 700;
  margin-bottom: .5vh;
}
.project-table .content{
  color: gray;
  font-size: .9rem;
}
.ann-heading{
  font-size: .8rem;
  font-weight: 700;
}
.ann-content{
  font-size: .7rem;
  font-weight: 300;
  color: gray;
}
.centre-ann{
  padding: 2vh 0;
}
.top-ann{
  padding-bottom: 2vh;
  border-bottom: 1px gray solid;
}
.bottom-ann{
  padding-top: 2vh;
  border-top: 1px gray solid;
}